<html>
    <head>
        <title>Blog</title>
        <style>
        .couleur {
            color:brown;
        }
        .bordure {
            margin: 3px;
            padding: 10px;
            border: 3px solid blue;
            text-align: center;
            background-color:burlywood;
            font-family: 'Courier New', Courier, monospace;


        }
        </style>
    </head>
    <body>
            <div>
                <h1><a href="/">Django Girls Blog</a></h1>
            </div>
    
            <div class="bordure">
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My first post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>
    
            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            </div>
        </body>
</html>
