.couleur {
    color:brown;
}
.bordure {
    margin: 3px;
    padding: 10px;
    border: 3px solid blue;
    text-align: center;
    background-color:burlywood;
    font-family: 'Courier New', Courier, monospace;


}

h1 a, h2 a {
    color: #C25100;
    font-family: 'Lobster';
}